.brick-status-modal {
    .brick-status-modal-content {
        min-width: 50%;

        .brick-status-modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .brick-status-modal-close-button {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 16px;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        .brick-status-modal-body {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            max-height: 100%;
            width: 100%;
            overflow-y: auto;

            .brick-status-list,
            .brick-status-history {
                justify-items: center;
                align-items: center;
                width: 50%;
                max-height: 100%;
            }

            .brick-status-history {
                border-left: 1px solid #ccc;
            }

            .brick-status-list {
                .brick-status-buttons {
                    position: relative;
                    padding: 10px;
                    min-width: 80%;
    
                    button {
                        font-size: 14px;
                        width: 30%;
                    }
                }
            }

            .brick-status-list ul,
            .brick-status-history ul {
                flex-grow: 1;
                overflow-y: auto;
                margin: 0;
                padding: 0;
            }

            .brick-status-list-ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 80%;
            }

            .brick-status-history-ul {
                max-height: 85%;
            }
        }
    }
}

.brick-status-item {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.brick-status-item:hover {
    background-color: #f0f0f0;
}

.brick-status-item.selected {
    border-color: #007bff;
    /* Highlight border for selected item */
    background-color: #e0eaff;
    /* Light blue background for selected item */
}

.brick-status-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brick-status-item-info-title {
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px;
    /* Added to give space after thumbnail */
    flex-grow: 1;
    /* Allow title to take up remaining space */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.brick-status-item-info-title:hover {
    color: #444;
    text-decoration: underline;
}